<center><h1>Genre Show Page</h1></center>


<p></p>

<h1> Genre Name: <%= @genre.name %> </h1>



<center><a href='<%= @genre.id %>/edit'> Click here to edit genre</a></center>

<p></p>


<center><a href='/genres'> Click here to return to genre list</a></center>