<center><h1>Artist Show Page</h1></center>

<h1> Artist Name: <%= @artist.name %> </h1>
<p>Artist Bio: <%= @artist.bio %> </p>

<center> <a href='<%= @artist.id %>/edit'> Click here to edit artist</a></center>
<center><a href='/artists'> Return to artist list</a></center>